In [ ]:
# How To Use Conda Environment In a Jupyter Notebook
conda create -n MyEnv python=3.13.0 # lastest 3.13.0/1/2/3 # 1. Create 'MyEnv' named Environment with given Python Version (Go through Anaconda Navigator to see avaialble Python versions)
conda activate MyEnv              # 2. Activating a Conda Environment
pip install ipykernel             # 3. IPython kernel is installed in your environment
python -m ipykernel install --user --name=KernalName  # 4. Create a kernel for the conda environment that can be used in Jupyter Notebook (so that new env will have new Kernal)
pip install notebook              # 5. install jupyter notebook is not found in the environment
pip install nbclassic               # this opens the regular notebook (else default notebook is opened for the selected environment)
conda install numpy               # 6. Installing numpy Packages in a Conda Environment
conda install -c anaconda scikit-learn  # 7. Install sklearn if necessary |or| pip install scikit-learn
(my_env)D:\myFolder>jupyter nbclassic   # 8. Opens the regular notebook
(my_env)D:\myFolder>conda deactivate   # 9. my_env environment is deactivated

conda list python  # select which version of python is installed on the current evn in the conda prompt
conda env list  # list of environments made
conda env remove --name myenv # remove the environment
jupyter kernelspec list  # list of installed kernals on conda
jupyter kernelspec remove KernalName  # remove the kernal from conda


# list of environments made in jupyter notebook
import subprocess
def list_conda_envs():
    result = subprocess.run(['conda', 'env', 'list'], stdout=subprocess.PIPE, text=True)
    print(result.stdout)
list_conda_envs()

#======================================================================================
import os
import sys
os.getcwd()  # import os  # cross check in which folder the jupyter notebook is running
sys.executable   # import sys   # cross check in which environmne the code is running

!conda activate <environment_name>   # activate environment using jupyter notebook

import json    # check which kernal in jupyter notebook which is getting used by the code
with open("Untitled1.ipynb", "r", encoding="utf-8") as notebook_file:  # Get the notebook metadata
    notebook_content = json.load(notebook_file)
notebook_content["metadata"]["kernelspec"]["name"]  # Extract the kernel name from the metadata
jupyter kernelspec remove KernalName  # removes the kernal with KernalName

import sys   # check python version
print(sys.version)

In [ ]:
Ref link: https://pandas.pydata.org/pandas-docs/version/0.17.0/api.html

jupyter notebook --notebook-dir=D:   # opens the jpyter notebook from specified drive location

pd.set_option('display.max_columns', None) # show all columns in df
pd.set_option("display.max_colwidth", None)  # or # pd.set_option('max_colwidth',None)
pd.reset_option('max_colwidth', None)
pd.set_option('display.max_rows', None)   # show all rows of the df/result output
pd.set_option(‘precision’, 2)            # Setting precision to 2 decimal places
np.set_printoptions(threshold=sys.maxsize)   # import sys  (to see all of the elements in the array)

import warnings
warnings.filterwarnings("ignore")

#======================= OS library related functions =============================
import os
os.getcwd()  #  Get the current working directory (CWD)
os.chdir("path") #Change Directory to Drive
os.mkdir('path') # Create the directory
os.makedirs('path') # Create a directory recursively. (while making leaf directory if any intermediate-level directory is missing, os.makedirs() method will create them all.)
dir_list = os.listdir('path') # Get the list of all files and directories in the root directory
os.remove('path+file.txt') # Remove/delete the file specified ( If the specified path is a directory then OSError will be raised by the method.)
os.rmdir('path')  # Remove/delete an empty directory. (OSError will be raised if the specified path is not an empty directory.)

#======================= Get current date and time  ================================
from datetime import datetime
Date_Time = datetime.now()
Day = pd.Timestamp(Checking_Date).day_name()

#========================= time differece, cell execution time ==========================
import time
start = time.time()
...
...
...
end = time.time()
estimated_time = round((end-start)*1000, 4)
print(estimated_time, 'ms')

#======================= Get names and size of variables ================================
# -------- names of variables running in the programs ---------------
print(dir())       # prints out the list of all the variables and methods in the given program

#--------------- get the size of an object in bytes --------------
import sys
str(sys.getsizeof('VariableName')) + " Bytes"  # or use following line of code
print(''.__sizeof__())

#----------- get size of variable in MB -----------------
%whos # returns all variables, dataframes, functions, figures, etc used in jupyter notebook
str((VariableName.memory_usage().sum()/1024**2).round(2)) +" Mb"   # returns memory occupied by variable im MB

#========================= use variable of one jupyter notebook in another notebook ==============
%store variable_name     # store the variable in jupyter notebook 1
%store -r variable_name  # retrive the variable in another jupyter notebook 2
%store -z variable_name  # deletes the stored variable from jupyter notebook 1
# if above doesn't work then follow the following
#--------------------------------------
# For Dataframe
df.to_pickle('df.pkl')  # Save DataFrame to a pickle file in notebook 1
df = pd.read_pickle('df.pkl')  # Load DataFrame from the pickle file in notebook 2

#--------------------------------------
# For other variables (lists, dictionaries)
import pickle
with open('variable.pkl', 'wb') as f:   # save variable in notebook 1
    pickle.dump(variable, f)

import pickle
with open('variable.pkl', 'rb') as f:   # load variable in notebook 2
    variable = pickle.load(f)

# ************************* CLEANING THE DATASET *************************
# ---- renaming/cleaning the column names ----
df.columns=['NewName1','NewName2','NewNameN3']            # Renaming the column (No of old column Names = No of New column Names to be given)
df.rename(index={1:'first'}, columns={'OldName':'NewName'}, inplace = True)   # Renaming the index and column
df.columns = df.columns.str.replace(" ","_")              # remove blank space between two words in column name

# ---- methodes to handle text data in the column -------
str.lower()/upper()/title()/replace('old','new')/lstrip()/rstrip()/strip()/len()/split()
str.contains()/endswith()/startswith()
# replace(), contains(), split() can handle regex

#--- shortinig the too long string ------
import textwrap
textwrap.shorten("any long string", width=12, placeholder="...")  # output-> 'any long...'

# ---- drop column and row -----
df.drop(index=1, axis=0, inplace=True)   # delete row of index no 1, and do immediately : df.reset_index(drop=True, inplace=True)
df.drop(['Col1','Col2','Col3'], axis=1, inplace=True)
df.drop(df.iloc[:,2:],axis=1,inplace=True)   # drop columns from col no 2 onwards (col number starts from 0)

# ---- add row / insert row in the (specified) end of the location ----
df.loc[len(df.index)] = [int/float/str/NaN values as per columns] # adds row and specified contents at the end of the df

# ---- copy the contents of one column to another column, (on the basis of condition) if NaN then skip the copying (within the same dataframe)
df.loc[df['col1'].notnull(), 'col2'] = df['col1']  # copy the contents from 'col1' to 'col2' where 'col1' is_not_null (have some value)

# === lambda v/s np.where v/s mask (modifying column contents with condition) - 1 ===
df["col"] = df["col"].apply(lambda x : x+1111 if x>500000 else x)       # if (col contents > 5,00,000) then add 1111 in col contents else dont add /
df["col"] = np.where(df["col"] >500000, df["col"]+1111, df["col"])      # if (col contents > 5,00,000) then add 1111 in col contents else dont add / more efficient for large datasets as it performs the operation in a vectorized manner.
df['temp'].where(df['temp']>24, 30)    # if temp>24, assign 30, else keep value as it is. (if 30 is not specified then assign NaN)
df['temp'].mask(df['temp']>24, 10)     # if temp>24, mask/replace values by 10, else keep values as it is. (if 10 is not specified then assign NaN)
# df[df['Age'].isin([40,43,56,32])]    # use for multiple entries

'''where: Faster, Most Mem Efficient, less flexible, Ideal when retaining most original values and replacing a subset
mask: Slow, Slightly less Mem Efficient, less flexible, Ideal when replacing a subset of values with a common value
lambda: Slowest, Mem Intensive, more flexible as it applies custom logic to each element, Useful for complex conditions or when specific element-wise operations are required'''

# multiple conditions in lambda
df['Sex_New']=df['Sex'].apply(lambda x : 'male' if x.startswith('m') else 'female' if x.startswith('f') else x)
largest_num = lambda a,b,c : a if a>b and a>c else b if b>a and b>c else c if c>a and c>b else a
# -------------- split col categories (Name+Surname) and put it in seprate column -----------------
df.insert(loc=1, column='First_Name', value=df['Full_Name'].str.split(n=1,expand=True).get(0)) # splitted col 'First_Name' is placed at index col no 1
# n=1 : whole string is splitted in two (single split). Ex: ['first_name','middle_name last_name'], default: all split
# expand=True : returns in the form of DataFrame else Series containig list of string
# get(0) : first value (Name) will be returned, get(1) : second value (Surname) will be returned

# The employee having name starts with 'M' will get 0 bonus and rest of the employees get a 100% bonus.
employees['bonus'] = employees.apply(lambda x : 0 if x['name'].startswith('M') else x['salary'], axis=1)

#====------- string operations using regex --------==============
# Delete anything within brackets or anything
#Ex: "I am from (Country) India" -output-> "I am from India"
df['Cat_col'] = df['Cat_col'].apply(lambda x : re.sub("\(.*?\)","",x) if (x.rfind("(")>0) else x) # deleting unwanted '()'and contents

# delete everything before specified '--' from the given string
str1 = 'Anand Pvt Limited -- 100000_00.xls'
re.sub(r'^.*?--', '', str1).strip()   # --> '100000_00.xls'
#(or)
str1[str1.index('100'):]   # output -->'100000_00.xls'

# delete everything after specified character in a string
str1 = 'Mydata_23_00500504.xls'
str1[ str1.index("_005") : ]      # output --> '_00500504.xls'


#=====------- comparing the categories in % within same category_column 1 -----======
## this progg returns matching categories and match values in % if >80 match is found in categories within the same categorical column
from fuzzywuzzy import process, fuzz

def fuzzy_fun(x):
    for i in x:
        matched_score = process.extract(i, x, scorer=fuzz.token_sort_ratio)
        cnt=0
        for j in matched_score:
            if (j[1] > 80 and j[1]<100):
                if cnt>0:     # firstly a catergory cmpares with itself and 100% result is obtained. The "if" condition avoids this.
                    print("\n",i, "<-->",j[0], "| match",j[1],"%")

                    uncomm_words_str1 = []             # this block returns the unmatched words from str1 and str2
                    uncomm_words_str2 = []
                    for ii in i.split():
                        if ii not in j[0].split():
                            uncomm_words_str1.append(ii)
                    for ii in j[0].split():
                        if ii not in i.split():
                            uncomm_words_str2.append(ii)
                    print('\nUnmatched word from str1=',uncomm_words_str1)
                    print('Unmatched word from str2=',uncomm_words_str2)    # unmatched words block ends here (this block can be deleted if not required)
                cnt=cnt+1
        print("*"*50)
    print("Done")

fuzzy_fun(df['ColName'].unique())

# Ref: https://github.com/thuynh323/Natural-language-processing/blob/master/FuzzyWuzzy%20-%20Ramen%20Rater%20List/Find%20similar%20strings%20with%20FuzzyWuzzy.ipynb

##############################################################################################################################
#=====------- comparing the categories in % within same category_column 2 -----======
from difflib import SequenceMatcher

text1 = "Medical Records Summary (Page T of 2 )\n\noartara0zt Pa 1-3, inal\nConsult eter\noan\n\n1D"
text2 = "Medical (Page T of 2 )\n\noartara0zt Pa 1-3, inal\nConsult eter”\noan\n\n1D"

similarity = SequenceMatcher(a=text1, b=text2, autojunk=True)
round(similarity.ratio(), 2)
#----------------------------------------------------------------------------------------------------------------------------

# === replace (modifying column contents) - 2 ===
dict_replace = {'M':'Men', 33.32:33, disease:Diseasaes}       # categories/contents to be replaced from different columns of a dataframe
df.replace(dict_replace, inplace=True)        # replaces the occurances of category/contents of different columns of df with said replacement list in given list
df.replace(np.nan, 0, inplace=True)           # replaces the all occurances of NaN by 0

# NaN values can also be replaced with said values using replace()

# === map (modifying column contents : adding new column with new contents with reference to old columns) - 3 ===
df = pd.DataFrame( {'particulars':['ball','pencil','pen','mug','ashtray','pencil'],
                    'price': [12.33,11.44,33.21,13.23,33.62, 22.33]})
new_price = {'ball': 12, 'pencil':11, 'pen':'Not Avl','mug':13}
df['new_price'] = df['particulars'].map(new_price)            # creates a new col 'new_price' and maps given new price to 'particular' column

# ==== try, except, else, finally ====
try:              # try this block
    c = ((a+b) // (a-b))
except:           # if error occurs, then execute this block
    print("Oops!", sys.exc_info()[0], "occurred.")     # import sys (this line returns exact error name)
else:             # if no error, then execute this block
    print(c)
finally:          # this block is always executed regardless of exception generation.
    print('This is always executed')

# ------------example-------------
# === .apply()
import sys

def conversion(x):
    try:                              # try-except is used to handle any NaN values (else error is displayed)
        if x.endswith("Kokate"):      # if any full name ends with 'Kokate'...
            x = x.replace("Kokate", "")  #...replace that 'Kokate' with blank...
            return x                     #...return store/return modified string back to column
        else:                         # if any full name ends with 'Kokate' then return store/return modified string back to column
            print("x in else body:",x)
            return x
    except:
        print("Oops!", sys.exc_info()[0], "occurred.")  # handle the error

df['Candidate_Full_Name'] = df['Candidate_Full_Name'].apply(conversion)    # if 'Candidate_Full_Name' column contains any string (named "Kokate") to be removed then we apply .apply()

# === raise error =====
x = -1
if x < 0:
  raise Exception("Sorry, no numbers below zero")
# ref : https://www.programiz.com/python-programming/exception-handling

# =================== EDA OF THE DATASET ====================
df.info()
df.describe() # include=['all','object','int','float''number']|.round()
df.shape
df.columns  # returns list of columns
df.dtypes   # returns data type of each columns in a df
df.index    # returns index range
df.values   # returns table values (except index)

# ------- value_counts in percentage: get value count in the form of dataframe with columns as 'Category_Name', 'Count', '%Count' --------------
df['ColName'].value_counts(normalize = True)*100           # returns the occurance of the category in percentage
# or
df1 = pd.DataFrame(df['ColName'].value_counts()).rename(columns={'ColName':'Count'})
df2 = pd.DataFrame((df['ColName'].value_counts()*100/df['ColName'].value_counts().sum()).round(2)).rename(columns={'ColName':'%Count'})
df3 = pd.concat(objs=[df1,df2], axis=1)
df3.reset_index(inplace=True)
df3.rename(columns={'index':'ColName'},inplace=True)
df3
#-------------------------------

df.select_dtypes(include='float/number/object', exclude='datetime64')          # returns a dataset with specified float/int/object columns type
df.select_dtypes(include='float/number/object', exclude='datetime64').columns  # returns column names with specified float/int/object columns type

df['Sex'].nunique()               # returns unique category count, ex: 2
df['Sex'].nunique(dropna=False)   # returns unique category count considering NaN also, ex: 3

#===== NULL values / missing vlaues =====
df.count()                                             # returns total count of (non-null) filled cells of the columns
df.isnull().sum()                                      # total count of Null cells in the specified dataframe
# null values count and % in descending order
pd.concat(objs=[df.isnull().sum(), round(df.isnull().sum()/len(df) * 100, 2)], axis=1).rename(columns={0:'NullCnt', 1:'NullCnt%'}).sort_values(by=['NullCnt'], ascending=False)
df.isnull().sum()[df.isnull().sum() != 0]              # viewing only those columns which has other than 0 null values
df[pd.isnull(df['Gender'])]                            # returns only those rows of whole dataset where 'Gender' is missing
((df.isnull().sum()[df.isnull().sum() != 0])*100/len(df)).round(2)  # view null value columns only with % null count
df.dropna(axis=0, how='any', thresh=intVal, subset=['Col1', 'Col2'], inplace=False, ignore_index=False)
    # axis --> 1/‘columns’ : Drop columns which contain missing value  (0/'index')
    # how --> 'all': all values are NA, drop that row or column. 'any': one val is NA then drop that row/column)
    # thresh --> number of NOT NULL values required to keep the row. Cannot be combined with how. # row containing non NaN values >= thresh are kept. how many non-null values you want to keep in a row= Thresh
    # subset --> specifies where to look for NULL values
    # ignore_index --> True : works like reset_index(inplace=True) [option not avaialble in the function]
df.fillna(value, method, axis=0, inplace=False, limit=None, downcast) # fill with specified values, method
    # value : value to replace the NULL values with | df.fillna(0) --> replace NaN with 0  | df.fillna(value={"A": 0, "B": 1, "C": 2, "D": 3}) | df["Col"].fillna("MissingVal", inplace = True)
    # method : method to use when replacing ('backfill', 'bfill', 'pad', 'ffill', None)
    # limit : maximum number of NULL values to fill  | df.fillna(value=values, limit=1)  --> Only replace the first NaN element
    # downcast : dictionary of values to fill for specific data types


#==== related to column operations ======
df["customer_country"] == "India"                       # returns a dataframe where 'India' category is found under "customer_country" column
df['ColName'].sum().round(2)                           # sum of the column contents and rounding off in case float number

df[df['ColName'].str.startswith("Miss.")]              # returns dataframe where category name starts with "Miss." under specified column
df.insert(intLocation,"ColName","int/str value")       # adding new column to dataframe at Specified Location
df['ColName'].sort_values()                            # returns sorted column with specified column
df.sort_values('ColName')                              # returns sorted dataframe with specified column
df.sort_values(by='ColName', ascending="True",inplace=True)   # sorting the column contents (all df gets arranged as per sorted column contents)
df.sort_values(['Age_in_Yrs', 'Age_in_Company','City'], ascending=[1,0,1])  # multiple columns; 0=desceding, 1=ascending
df.sort_index(axis=1, ascending=False, , kind=<quicksort/mergesort/heapsort/stable>, na_position='last', ignore_index=False,) # Sort a Pandas DataFrame based on column names (sort by column names)
                                                       # ignore_index = True: resulting axis will be labeled 0, 1, …, n - 1.

df.nlargest(n=3, columns=['ColName'])                  # find n largest in the column
df.nsmallest(n=3, columns=['ColName'])                 # find smallest in the column
df['ColName'] = df['ColName'].str.upper() / lower() / title() / capitalize()     # change case/font of column contents
df['ColName'].loc[0:2]                                 # get specific entry from specified column [index 0 entry : index 2 entry]

df.set_index(keys='colName',inplace=True)       # set the specified column as an index, keys=['col1','col2'] multi-indexing
read_csv(index_col='colName')                   # set the specified column as an index, index_col=['col1','col2'] multi-indexing
df.loc['idx1Content','idx2Content']             # accessing the df contents using index contents, returns all col entries on the specified indexes
df.loc['idx1Content','idx2Content'].'ColName'   # returns specified col entrie on the specified indexes
df.loc[('idx1Content','idx2Content'),'ColName'] # another way of doing above

#-------------------------------
# Custom sort
"""
Case: if you have random but fixed number of categories and want to sort the dataframe using those random categories
Example: A dataframe contains 'Name_of_student', 'Address', 'Pin_Code' and 'Marks'. Its easy to sort df using 'Marks',
    but if 'Marks' column is not there in dataframe then... if we need to sort dataframe on the basis of 'Name_of_student' (not alphabetically)
    in the custom sequence you want then follow the following code ....
    Assume: df['Name_of_student'] contains names as sham,geeta,ram,seeta
"""
from pandas.api.types import CategoricalDtype  # install the library (to assign virtual number for sorting the category)
cat_size_order = CategoricalDtype(['ram','sham','seeta','geeta'], ordered=True)  # ram<sham<seeta<geeta (our sequence) #list('Categories in custom order')
df['Name_of_student'] = df['Name_of_student'].astype(cat_size_order)
df = df.sort_values('Name_of_student')   # here is df with sorted rows with 1st_row:ram, 2nd_row:sham and so on....
#-----------------------------------------------
# bin continuous data into discrete intervals
# divide continuous numbers/data into discrete intervals of categories
import pandas as pd
data = [1, 7, 5, 4, 6, 3, 8, 4, 2, 1]   # This is the list of numerical data that we want to categorize into bins.
bins = [0, 2, 4, 6, 8]     # This defines the intervals for binning the data. It means: | Bin 1: 0 to less than 2 | Bin 2: 2 to less than 4 | Bin 3: 4 to less than 6 | Bin 4: 6 to less than 8
bin_labels = ['very low', 'low', 'medium', 'high']   # labels assigned to each bin. There are four labels corresponding to the four bins defined by bins.
binned_data = pd.cut(data, bins=bins, labels=bin_labels)
print(binned_data)

# ============================= group by ===========================================
df.groupby(by='ColName')['Num_Column'].sum()               # get group categoriewise with sum of other numerical column
df.groupby(by='ColName')['Num_Column'].sum().unstack()     # get above result in other easy format
df.groupby(by='ColName')['Cat_Column'].value_counts()      # get group categoriewise with value counts of other categorical column (can use .unstack() here also)

# group by specified columns and by considering other_columns. Specified operation is done on other_columns for grouping
df_new = df.groupby(['col1', 'col2']).agg({'col3':'sum','col4':['max', 'sum']})  # 'mean', 'sum', 'max', 'min', 'std', 'count',  'median', 'var', 'quantile, 'nunique', 'first', 'last'
df.groupby(['col1', 'col2'])["col3", "col4"].apply(lambda x : x.astype(int).sum())
#(ref: https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html)

#--- get_group
grp = df.groupby('Name')
grp.get_group('Jai')
# ================== mathematical operations on columns ===================================
df[['Num_Col1', 'Num_Col2']].sum()  # returns = Num_Col1-82.29, Num_Col2-20.32 (returns colName and ans)
df['Num_Col3'].mean()               # returns = 55.00 (returns only ans)
df[['Num_Col3']].sum()              # returns = Num_Col3-36463  (returns colName and ans)

# below agg() returns = specified maths operation of the specified columns in proper table format (better visuilization than above first three)
df[['Num_Col1', 'Num_Col2','Num_Col3']].agg(['sum'/'mean'/'max'/'min']).round(2)
df.agg({'Num_col1':['sum','mean'], 'Num_col2':['mean'], 'Cat_col1':['nunique']})  # for cat_col = value_counts, unique, nunique can be used
#---
get_max_cat = lambda x: x.value_counts(dropna=False).index[0]  # get cat_name which is occuring maximum times in df['Cat_col']
df.agg({'Num_col': ['sum', 'mean'], 'Cat_col': [get_max_cat]}) # you can add a function (ex: get_max_cat) in agg()
get_max_cat.__name__ = "most_frequent"   # it replaces 'lambda' name in the result table by 'most_frequent'
#---
# ================== missing value imputation by mean/mode/median ===========================
df['ColName'].fillna(value=np.mean(df['ColName']),inplace=True)   # fill missing value in column by mean
df['ColName'].fillna(value=df['ColName'].mean(), inplace=True)    # fill missing value in column by mean

# ================== Rank ===================
df['NewCol'] = df['ColName'].rank(ascending=True).astype('int')   # giving rank as per values in the column

# ==================== finding the correlation among features =========
df.corr()                         # correlation among numerical features of the dataset
df1.corrwith(df2['Num_ColName'])  # correlation of df2['Num_ColName'] with each numerical col of dataframe df1
# -------
from dython.nominal import associations
pd.set_option('max_colwidth', None)
# df.select_dtypes(include='object', exclude='datetime64').columns     # if you want to view only categorical col from df
complete_corr = associations(df)                                       # correlation among num or (default) categorical features of df
df_unstruct = pd.DataFrame([complete_corr])
df_complete_corr =list(df_unstruct['corr'])[0]
df_complete_corr

# =================== spelling correction maker ====================
pip install autocorrect
from autocorrect import Speller
spell = Speller()

str1 = 'hospitalzasion'
str2 = 'huspetalization'
s1 = spell(str1)
s2 = spell(str2)
s1 == s2   # --> True

# =================== replace 30K, 20L, 25C from 'Amount' column with 30000, 2000000, 250000000 ====================
# Common function 'conversion(value)' for all three following methods:
def conversion(value):        # Ex: value = $30K
    multiplier = value[-1]    # K
    amount = int(value[1:-1])  # 30
    amount = amount*conversion_rate[multiplier]    # 30*1000
    return(amount)             # 30000
#--
conversion_rate = {'K':1000, 'L':100000, 'C':10000000}  # just like conversion table, common to all following methodes
# --- Method 1: using simple for loop
converted_list = []           # list to store converted values
for i in df['Amount']:
    amount = conversion(i)               # call conversion function and convert amount one by one
    converted_list.append(amount)        # keep on appending converted value one by one to list in each iteration
df['Amount'] = converted_list      # assign all list contents (of converted amount) to the column
# ------ Method 2: using list comprehension
df['Amount'] = [conversion(i) for i in df['Amount']]       # type this first: conversion_rate = {'K':1000, 'L':100000, 'C':10000000}
# ------ Method 3: using .apply() method
df['Amount'] = df['Amount'].apply(conversion)  # type this first: conversion_rate = {'K':1000, 'L':100000, 'C':10000000}

# ==============================================================================
def conv(x):                    # function returns None,
    print(x)                    # 'x' holds contents of a row/index received from a calling function (below line prints the same data)
    print(x[['col1','col2']])   # prints the col1,col2 contents of the df (of which row/index number is received)
    print(x['col1'])            # prints the col1 contents of the df (of which row/index number is received)
    print()

df=pd.DataFrame({'col1':[1,2,3], 'col2':[1,4,4]})
df.apply(conv, axis=1)   # this function keeps on sending row (index) wise contents of df one by one to 'x' (till the end of df)
# --------------------------------------------------------------
def conv(x):      # function returns None
    print(x)      # prints the values of df['col1'] one by one (till the end of df)

df=pd.DataFrame({'col1':[1,2,3], 'col2':[1,4,4]})
df['col1'].apply(conv)  # this function keeps on sending contents of df['col1'] row (index) wise one by one to 'x' (till the end of df)
#----------------------------------------------------------------
def conv(x):      # function returns None
    print(x)      # prints all values of df['col1'] (till the end of df) & then print all values of df['col2'] (till the end of df)
    print()

df=pd.DataFrame({'col1':[1,2,3], 'col2':[1,4,4], 'col3':[6,5,4]})
df[['col1','col2']].apply(conv)  # this function keeps on sending contents of df(col1 & col2) row (index) wise one by one to 'x' (till the end of df)
# ----------------------------------------------------------------
# put values in two new columns on the basis of exsisting column of the dataframe
def conv(x):
  if (some_condition):
    # some task here..
    return Val1Calculated_fromX, Val2Calculated_fromX
  else:
    return np.nan, np.nan

df[['newCol1', 'newCol2']] = df['exsistingCol'].apply(conv).to_list()
# NOTE: # exsistingCol != np.nan,0 (gives value error/col mismatch error) | exsistingCol == '','missingValue' (works properly)

# ============================== filtering the data ================================
# loc and iloc difference: df.loc[RowNo, ColName]       v/s         df.iloc[RowNo, ColNo]          # Access a group of rows and columns by label(s).
# loc and iloc indexing  : df.loc[RowNo:RowNo, ColName:ColName] v/s df.iloc[RowNo:RowNo, ColNo:ColNo]   # Access a group of rows and columns by integer position(s).
# at and iat work like loc and iloc (but it only Access a single value for a row/column label pair., does not support indexing or multiple value access)
df.loc[2]               # retuns contents of 2nd row (same as: df.iloc[2])
df.loc[5:7]             # returns 5th to 7th rows of the df (df.loc[5:7]  : returns 5th to 6th)
df['ColName'].loc[5:7]  # returns 5th, 6th, 7th rows of df's specified column
df.iloc[2,4]            # returns 'one' entry of df from 2nd row and 4th column
df.iloc[[0,3],[1,4]]    # [[rowRange],[colRange]] returns entries from '0th and 3rd row' with '1st and 4th column'
df.loc[0:5,['First_Name','Salary']]  # returns the specified range of rows of the given column in table format with given col data
df.loc[0,'Weight_in_Kgs']     # returns value from 0th row and column named 'Weight_in_Kgs'
df.loc[0][0]             # returns value from 0th row and 0th col
df.loc[0]['ColName']     # returns value from 0th row and under the specified col name
df.loc[df['CatColumn'].isin(['Category1','Category2',np.NaN])]  # returns whole df containing defined categories (Category1,2, Null)

df.loc[df['StudName'] == 'Shaan', 'Fees'].sum()   # get the sum of fees from df where StudName==Shaan
df.loc[Row/IndexNo, 'ColName'] = 10    # insert value at the specified location using loc

df[df['Age'] > df['Weight']]         # returns whole df where Age val is gr than Weight val

df[df["Age"]<20][["Name",'Age']]     # return Names of poeple whose Age is less than 20
df[['Name','Age']][df['Age']<20]     # return Names of poeple whose Age is less than 20
df.query('Age < 20')                 # returns whole dataset where df['Age']<20

df[(df['Age']>50) & (df['Weight']>40)]     # returns the df where age>50 and weight>40
df.query("Age > 50 & Weight > 40")         # both does the same thing
                                           # | No need to put column name in '' if col name is single | put category in ''
                                           Ex: df.query("ColName1=='Category1' & ColName2=='Category2'")

df[df['Age'].between(20,28, inclusive='both')]    # return df where age is betwen 28 to 29

df[df['Age']==40]                  # returns the dataframe where Age=40
df[df['Age'].isin([40])]           # both does the same thing
df[df['Age'].isin([74,28,19])]     # write condition in a list instead of writing seprately using OR

df['Age'].idxmin()                  # returns the single index number where Age value is minimun
df[df['Age']==min(df['Age'])].index # returns the all index numbers where Age value is minimun
df[df['Age']==0].index              # retuns all index numbers where Age value is zero

# filtering can be done by considering seprate conditions and later combining them
c1 = df['Name'].str.contains('Mr')
c2 = df['Age']>30
c3 = df['Embarked']=='Q'
df[(c1 & c2) | c3]

#============================= duplicate values =====================================
df.duplicated(subset=['Col1','Col2']], keep='first')  # first=first occurrence is set on False and all others on True./ last/ False=all duplicates are True.
df.drop_duplicates(subset=['Col1', 'Col2'], keep='last',inplace = True, ignore_index = False)

#================================ pin code / postal code / zip code / latitude longitude as per selected country ==================
# pin_code to city_details
pip install pgeocode
import pgeocode
nomi = pgeocode.Nominatim('in')  # in for india
nomi.query_postal_code("362001")   # returns place/address, state, county, lat-log details of inserted pin code
nomi.query_postal_code("362001").state_name  # returns name of the state
# Ref : https://readthedocs.org/projects/pgeocode/downloads/pdf/latest/

# city_name to Address-&-Pin Code
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-app")
location = geolocator.geocode('vile parle west', country_codes="IN")
location # returns whole address with pin code of given 'city'
re.findall(r'\d{6}', location[0]) # extracts 6 digit pin code from 'location' variable (import re) # retrns Null list if not found
EX:  pinCode = int(''.join(re.findall(r'\d{6}', geolocator.geocode(df.loc[i,'Hosp_City'], country_codes="IN")[0])))
#---------------------------------------------------------------

import geocoder   # returns lat long from pin code (results are same as pgeocode)
pincode = 15947
print('City=', geocoder.arcgis(pincode).city)
print('State=', geocoder.arcgis(pincode).state)
print('Latitude=', geocoder.arcgis(pincode).lat)
print('Longitude=', geocoder.arcgis(pincode).lng)
# -- or --
import geocoder    # considering Indian Pin codes only
country = "India"
pincode = "360001"
query = f"{pincode}, {country}"
location = geocoder.arcgis(query)
latitude = location.lat
longitude = location.lng

#--------------Bubble map India---------------------
import folium

india_map = folium.Map(location=[20.5937, 78.9629], zoom_start=10)

for index, row in df_ColNameSumYr[df_ColNameSumYr['latitude'].notnull()].iterrows():
    folium.CircleMarker(
        location=[row['latitude'], row['longitude']],
        radius=row['TotalClaimCountYr'] / 50000,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.8,
#         tooltip=row['PinCodeYr'] + ': ' + str(row['TotalClaimCountYr'])
    ).add_to(india_map)

india_map.save('bubble_map.html')
india_map

#==================== Create a drop down menu ===============================
from ipywidgets import interact  # for dropdown menu
def myfunction(x):
    global cityName
    cityName = x
    return x
interact(myfunction, x=list(df['City_Name'].unique()));
print(cityName)
#----------------------------------------------------------

#========================= Read the characters from image (image to string) ======================
import pytesseract
pytesseract.pytesseract.tesseract_cmd = r'C:\Users\Shantanu.Kokate\AppData\Local\Programs\Tesseract-OCR\tesseract.exe'
pytesseract.image_to_string('test.png')    # Simple image to string (bypass the image conversions of pytesseract)
pytesseract.image_to_string(Image.open('test.png'))  # Simple image to string
print(pytesseract.image_to_string('images.txt')) # Batch processing with a single file containing the list of multiple image file paths
# Timeout/terminate the tesseract job after a period of time
try:
    print(pytesseract.image_to_string('test.jpg', timeout=2)) # Timeout after 2 seconds
    print(pytesseract.image_to_string('test.jpg', timeout=0.5)) # Timeout after half a second
except RuntimeError as timeout_error:
    # Tesseract processing is terminated
    pass

print(pytesseract.image_to_osd(Image.open('image.jpg')))  # Get information about orientation and script detection

pdf = pytesseract.image_to_pdf_or_hocr('tempImage.jpg', extension='pdf')  # Get a searchable PDF (convert image into searchable pdf)
with open('test.pdf', 'w+b') as f:
    f.write(pdf) # pdf type is bytes by default

#===================================================================================================

https://www.myexcelonline.com/blog/vlookup-example-with-drop-down-list/
update mdi HRMS pwd.. as .. user name : 19781, pwd: mdi@2022

In [ ]:


################ combine() #################
# returns the combined dataframe with min values from both the dfs
df1.combine(df2, np.minimum)  # fill_value=-5, fill -5 at the place of NaN

################ Concat() #################
df1 = pd.DataFrame({'Student_ID': [1,3,5,2], 'Course_ID':[9,6,7,8]})
df2 = pd.DataFrame({'Student_ID': [5,4,2,4,1], 'Course_ID':[10,8,3,2,7], 'Remarks':['50%', '20%', 'No', '30%','40%']})

   Student_ID  Course_ID
0           1          9
1           3          6
2           5          7
3           2          8

   Student_ID  Course_ID Remarks
0           5         10     50%
1           4          8     20%
2           2          3      No
3           4          2     30%
4           1          7     40%

# Col with same names in df will be concatinated one below another (concatination on the basis of column names, and not the contents)
# In cancatinated df, index will remain as per old dataframes Ex:0,1,2,3,4 & 0,1,2,3
    # if verify_integrity=True, throws error for such duplicate index number in cancatinated df
    # Thus use, either ignore_index=True, works like df.reset_index() or For sepration of both concatinated df use, key=[])
df_ConcatOneBelowAnother = pd.concat(objs=[df1,df2], ignore_index=True)
   Student_ID  Course_ID Remarks
0           1          9     NaN
1           3          6     NaN
2           5          7     NaN
3           2          8     NaN
4           5         10     50%
5           4          8     20%
6           2          3      No
7           4          2     30%
8           1          7     40%

df_ConcatOneBelowAnotherMultiIndex = pd.concat(objs=[df1, df2], keys=['Table1','Table2'])  # 'Table1' & 'Table2' will be indexes with 1,2,3,4--index each
# access row using : df.loc[('Table1', 1)] # access row element using : df.loc[('Table1', 1),'ColName']
          Student_ID  Course_ID Remarks
Table1 0           1          9     NaN
       1           3          6     NaN
       2           5          7     NaN
       3           2          8     NaN
Table2 0           5         10     50%
       1           4          8     20%
       2           2          3      No
       3           4          2     30%
       4           1          7     40%

df_ConsiderCommonColumnToJoin = pd.concat(objs=[df1, df2], keys=['Table1', 'Table2'], join='inner')  # returns concatinated df with col common in both the dfs, default 'outer'
          Student_ID  Course_ID
Table1 0           1          9
       1           3          6
       2           5          7
       3           2          8
Table2 0           5         10
       1           4          8
       2           2          3
       3           4          2
       4           1          7

df_ConcatOneAfterAnother = pd.concat(objs=[df1, df2], axis=1) # keys can be used for multi-indexing. join can be used for common row index concatination
   Student_ID  Course_ID  Student_ID  Course_ID Remarks
0         1.0        9.0           5         10     50%
1         3.0        6.0           4          8     20%
2         5.0        7.0           2          3      No
3         2.0        8.0           4          2     30%
4         NaN        NaN           1          7     40%

####################### append() ###############################
#appends two df one below other. (append operation is done only row-wise,not column-wise)
df_append = df1.append(df2)   # returns same result as: pd.concat(objs=[df1, df2],join='outer')

####################### merge() ###############################
# if column names are different then it is not recommended to use concat(). Use merge(), join() methods.
# same as sql join method, powerful than concat(), default: concat(join='outer'), merge(how='inner')

pd.merge(df1,df2)  # it detects col with similar name in both dfs and merge two dfs on the basis of that common column (Default: how='inner')
pd.merge(df1,df2, on='ColName') # if both dfs have more than 1 col with similar names, to avoid the confusion, specify col name on which merging is to be done
pd.merge(df1,df2, on='ColName', suffixes=('_M1','_M2')) # after merging remaining columns with similar names will get suffix automatically, to avoid this use 'suffix=' of your choice
pd.merge(df1,df2, left_on='C_ID', right_on='Cust_ID') # for col with different names: merginig is done on 'C_ID' col of df1 and 'Cust_ID' col of df2 (merging happens on matching contents of different col names of dfs)
pd.merge(df1,df2, left_index=True, right_on='Cust_ID') # merginig is done on index of df1 and col of df2
pd.merge(df2,df2, how='outer', indicator=True) # how = 'outer' : merge on the basis of common col and also return uncommon part of both the dfs
                                               # how = 'left' (right/outer/inner/cross) : all row from left df is considered and only matched contents from right df will be considered (left df is imp and right not imp)
                                               # indicator=True : tells from which df the row is taken (both/right_only/left_only)

# NOTE : merge can also work like vlookup in excel. OR can be used for imputing values from other table's column on the basis of matching conditions of the tables
    pd.merge(df1, df2, on='ColName', how='left')    # meaning: find df2 contents in df1
  # the common contents under the specified (key=)'ColName' from both the dfs are considered and whole contents of df1 are returned while only matching contents of df2 are returned
  # soemtimes above vlookup technic also works with : df[df['Age'].isin([40,43,56,32])]    # use for multiple entries
###################### join() ###############################
df1.join(df2) # joinig is done on the basis of index of both the columns # its like : pd.merge(df1,df2, left_index=True, right_on='Course_ID')

In [ ]:
# Use it to decrease memory use for dataframe

def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose:
        print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

#------------------------
reduce_mem_usage(df)    # use this function to reduce the memeory usage

df.head()  # from here you can use ur dataframe

### read file in pandas

In [ ]:
pd.read_csv("data1.csv")
sheet_name=0  # str="Sheet1", int=0(default),1,2--, list=[0, 1, "Sheet5"], or None, default 0
sep='|',';',':',','(default)
header=1               # row 1 becomes dataset header
header=None            # CSV without column headers,  numbered columns starting from 0 are created
names=['ColName1', 'ColName2', 'ColName3']          # rename the column headers by using the names parameter
header=0, names=['ColName1', 'ColName2'] # header parameter overrides the old header names with new names
header=None, prefix='column_'       # prefixes to the numbered column headers
index_col='ColName'    # Making given column as index, =['ColName1', 'ColName2']      # Making multiple columns as index
usecols= ['ColName1', 'ColName2']       # select only the necessary columns before loading the file in jupyter
usecols=lambda x: len(x)>10)    # callable functions evaluate on column names to select that specific column where the function evaluates to True
nrows=5        # Read the csv file with first 5 rows
skiprows=1     # skip first row from the beginning of the file
skiprows=lambda x: x%2!=0 # even indexed rows are returned
skipfooter=1   # skip rows from the end of the file
dtype={'ColName':np.int8}   # you can specify the data types of columns while reading the CSV file
index_col='Date', parse_dates=True     #  convert a column to a datetime type column
parse_dates=['Date']   # Pass desired column in parse_dates as list
na_values=['missing']  # assign 'missing' string to NA values

toInt = lambda x: int(x.replace(',', '')) if x!='missing' else -1
converters={'ColName': toInt}   # convert the comma seperated values (i.e 98,12,341) of the column to integer value (9812341)

https://www.machinelearningplus.com/pandas/pandas-read_csv-completed/

#-----------------------------------------------------------------------------
df = pd.read_excel('ExcelFileName.xlsx', sheet_name=None)  # Read all sheet names from the excel
df.keys()        # returns the list of sheet names
df1['sheetName'] # returns dataframe from the specified sheetName

In [ ]:
#---------------------------- pandas profiling report ----------------------
# pip install ydata-profiling
# import ydata_profiling
# pip install ipywidgets
import ydata_profiling
from ydata_profiling import ProfileReport
Profile_Report = ProfileReport(df_selected, title="Profiling Report")

In [ ]:
#----------------- save dataframe to excel --------------------
pip install openpyxl
import openpyxl
import os

df.to_excel('myexcel.xlsx', index=False)   # save df dataframe to excel

excel_file_name = 'myexcel.xlsx'    # append tables to given sheet in already saved excel
with pd.ExcelWriter(excel_file_name, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df_to_save.to_excel(writer, sheet_name='MysheetName1', index=False, header=True)
    df_to_save.to_excel(writer, sheet_name='MysheetName2', index=False, header=True)

print('Please, check location to get generated excel file. :\n',os.getcwd())

#### Time Series

In [ ]:
########################## Time Series ##########################
https://www.alldatascience.com/time-series/forecasting-time-series-with-auto-arima/
https://www.alldatascience.com/time-series/forecasting-time-series-with-arima/
https://machinelearningmastery.com/how-to-grid-search-sarima-model-hyperparameters-for-time-series-forecasting-in-python/
https://techrando.com/2020/01/04/time-series-forecasting-using-a-seasonal-arima-model/
https://machinelearningmastery.com/backtest-machine-learning-models-time-series-forecasting/
https://www.kaggle.com/code/poiupoiu/how-to-use-sarimax/notebook#SARIMAX-model
https://analyticsindiamag.com/complete-guide-to-sarimax-in-python-for-time-series-modeling/
https://www.statsmodels.org/dev/generated/statsmodels.tsa.statespace.sarimax.SARIMAXResults.forecast.html#statsmodels.tsa.statespace.sarimax.SARIMAXResults.forecast
https://www.kaggle.com/code/saurav9786/time-series-tutorial/notebook
https://hackernoon.com/basic-understanding-of-arimasarima-vs-auto-arimasarima-using-covid-19-data-predicions-8o1v3x4t

### Important functions requried in TS data analysis ###
period = pd.Period('2019-1')     # returns, Period('2019-01', 'M')  --> specifies that it is monthly period
period.asfreq('D', how='start')  # returns, Period('2019-01-01', 'D') --> conversion of above montly period to daily period
period.to_timestamp().to_period('M')   # returns, Period('2019-01', 'M') --> convert period back to month
period+3      # arithmatic opoerations can be done on period (it adds day/month etc in current day/month)

pd.to_datetime(df['Date_Col'])   # converts date_string column to date_time column
df['Date_Col'].astype('datetime64[ns]')
  t = pd.Timestamp('2013-12-25 00:00:00') # time stamp to date conversion (pandas._libs.tslibs.timestamps.Timestamp) to datetime.date(yyyy, mm, dd)
  t.date()
  --> datetime.date(2013, 12, 25)

df['Date_Col'] = df['Date_Col'] + pd.offsets.MonthEnd(0)  # set column dates to month end date

pd.date_range(start='2022-9-1', periods=31, freq="D")  # creates sequence of dates starts from given date considering period and frequency
pd.date_range(end='2022-9-1', periods=31, freq="D")   # creates sequence of dates from given period to end date date

# changing time-series frequency
    # for upsampling (less to more data), fill or handle the missing values. Ex: Q to M, M to W, W to D
    # For downsampling (more to less data), aggregate the existing data. Ex: M to Q, W to M, D to W
df.asfreq(freq='B', how='start') # frequency changes to Business days (sat-sun off)
df.asfreq(freq='D'/'M'/'Q'/'W'/'Y', method='ffill/bfill')  # used in upsampling to fill up the data
df['ColName'].interpolate()      # fill NA values in df (used in upsampling to fill up the data)

df.resample('M')["price"].sum()          # works only when date column is datetime and index
df.resample('M'/'Q'/'W').mean().plot()   # For downsampling (more to less data), aggregate the existing data
df.resample('W').agg(['mean', 'median', 'std'])
df['data'].resample(rule='MS').mean()  # M,Q,W

df.groupby('product_name')["price"].resample("M").sum()  # works only when date col = timedate+index col (below line gives the same o/p)
df.groupby(['product_name', pd.Grouper(key='Date_Col', freq='W')])['price'].sum()  # workes only when date col is not index col (above line gives the same o/p)
#(freq='A-DEC' means, an annual summary using December as the last month)

print(df['2022-02'])      # returns only 2nd month dataframe (date col = datetime index)
df.index.day/month/year   # returns day/month/year wise data from datetime index dataset (date col = datetime index)
#--
pv = pd.pivot_table(df, index=df.index.month, columns=df.index.year, values='Temp', aggfunc='sum')  # assuming datetime is index column
pv.plot(subplots=True, legend=True, figsize=(15,15),grid=True)   # make yearwise columns from a TS data and plot yearwise line plot of entire df one below another
pv.boxplot()/hist()/plot(kind='kde')
#-_

df['Date_Col'].dt.dayofyear        # returns day of the year. Ex: 05/01/2022 is 5th day of the year, returns 5
df['Date_Col'].dt.dayofweek        # date falling in sunday = 0th day of week, mon=1, tue=2....sat=6
df['Date_Col'].dt.is_leap_year     # returns the boolean value indicating if the date belongs to leap year

df['Date_Col'].dt.hour /minute /second    # returns hour /minute /second of date in sequence as per stored in dataframe
df['Date_Col'].dt.date /year /month /day  # returns all date/years/months/days in sequence as per stored in dataframe
df['Date_Col'].dt.day_name()              # returns daydf_name of the given day_date
df['Date_Col'].dt.month_name()            # returns month_names of the given day_date
df['Date_Col'].dt.strftime("%A")
# %A -Full weekday name like MONDAY, TUESDAY etc
# %a -Abbreviated weekday name (SUN,MON etc)
# %w -Weekday as a decimal number like 1,2,3 etc (0:Sunday, 1:Monday, ----)
# %Y -year, # %m -month, # %d -day, # %H -hours, # %M -minutes, # %S -seconds
df['Date_Col'].dt.strftime('%d-%m-%Y')       # returns date in dd-mm-yyyy format

df['Date_Col'].shift(2)  # shifts period/date into future by 2 days (2 NaN values at begining of df) - shift
df['Date_Col'].shift(-2)  # shifts period/date into past by 2 days (2 NaN values at end of df) - lagged

https://www.machinelearningplus.com/pandas/pandas-read_csv-completed/

### working on TS data ####
h0ttps://analyticsindiamag.com/complete-guide-to-sarimax-in-python-for-time-series-modeling/
# ========================== Data Cleaning/ Preprocessing ==============================
df.plot()                                 # plotting the data given
df.dropna(inplace=True)                   # drop rows with NaN values
df['Date'] = pd.to_datetime(df['Date'])   # converting date/day/month/year column to date time
df['Date'] + pd.offsets.MonthEnd(0)       # sets date to end of the month instead of starting of the month ...
                                              # ... Ex: it converts date from 2018-04-01 to 2018-04-30 and so on
df.sort_values(by="Date", inplace=True)   # sort the df by Date if it is not
df.set_index('Date', inplace=True)        # set date/day/month/year column as an index
# As we removed NaN values (with dates), lets find out missing dates in between using asfreq()
# asfreq() works only if Date colm is an index column
df.set_index("Date", inplace=True).asfreq("D")   # asfreq("D/W/M"), you can set index here also instead of above row
df.isnull().sum()                         # then check for missing/null Date values because of dropna() we used earliers, if it is showing some missing vlaues then use interpolate() as below
df.interpolate(method ='linear', limit_direction ='forward')    # impute missing values corresponding new imputed dates using interpolate
df.isnull().sum()                         # this should show 0
df.reset_index(level=0)                   # you may reset the index here
df.resample('W',on='Date').sum()          # daily/Date data can be resampled in week format

# searching missing date from the Date column and imputing the missing date
my_range = pd.date_range(start='2017-01-01', end='2017-09-01', freq='MS') # creating st+end date range as per dataset (MS: monthwise dates creation with starting date of each month)
my_range.difference(df['Date_col'])  # Returns dates from my_range which are not present in df['Date_col'], ie returns missing dates from df['Date_col']
                                    # not necessary to convert Date_column to date_range format

df.set_index('Date',inplace=True)   # select Date column and set as index column
df.reindex(my_range)          # and missing dates are imputed with Null Values

# ========================== Visulizing the Data + Trend + Seasonal + Residual Graphs ==============================
from pylab import rcParams
import statsmodels.api as sm

rcParams['figure.figsize'] = 18,15
decomposition = sm.tsa.seasonal_decompose(df['VALUES'],model='additive',period=10)
fig = decomposition.plot()
plt.xticks(rotation= 90)
plt.show()

# ========================== Checking for data stationarity ==============================

from statsmodels.tsa.stattools import adfuller   # import adfuller to use dicky-fuller test to test the data stationarity
x = df['ValueColName'].values   # we need to pass array in the adfuller() to check stationarity of data column. convert Series into array using '.value'
result = adfuller(x)            # returns values in tuple as, result = (adf, pvalue, usedlag, Critical_values)
                    # printing each value of adfuller test using print() as follows
                    # print("adf (The test statistic) = ",round(result[0],2))
                    # print("pvalue =", round(result[1],2))
                    # print("used_lag (number of lags used) =", result[2])
                    # print("Num Of Observations Used For ADF Regression and Critical Values Calculation = ", result[3])
                    # print("Critical values for the test statistic =",result[4])
                    # H0: data is non-stationary, H1: data is stationary

if result[1]<= 0.05:              # result to check whether data is stationary or not
    print("Reject H0, time series has no-unite root, the data is stationary")
else:
    print("time series has unite root, the data is not stationary")

# ============================= if data is not stationary then make it stationary as follows ===================================
#  make the data stationary using
# 1. Differencing: values are shifted (by 1/2/3--12) and difference is taken (in 'newDiffcolumn'). NaN value rows must be dropped. Differencing is not used in fbProphet.
# 2. Rolling mean: If RM=3, take a mean (not a difference) of first 3 values of main dataset and put that mean value in new dataset.
# 3. Transformation: use log, sqrt, cuberoot, reciprocal transformation.

# Differencing method as follows (NOTE: differencing etc can be done  especially on non-seasonal data)
df['Diff_ValuesColumn'] = df['ValuesColumn'] - df['ValuesColumn'].shift(1)    # substract contents of column of it shifted by 1 and store the result in same dataframe with new column
df.dropna(inplace=True)                   # drop rows with NaN values (NaN value was created by shift() function)
df.replace(np.nan, 0, inplace=True)       # replace all occurances of 0 by NaN

# ========================== if data is stationary then find Find p,d,q values (by using bar plot or line chart) ===================
#---------- finding pdq values graphically:  Method-1 of 3 -------------------------
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# plot the bar chart
fig = plt.figure(figsize=(10,6))
ax1 = fig.add_subplot(221)
fig = sm.graphics.tsa.plot_acf(week_df2['diff_No_of_outstanding_cases'],lags=10,ax=ax1)
ax2 = fig.add_subplot(212)
fig = sm.graphics.tsa.plot_pacf(week_df2['diff_No_of_outstanding_cases'], lags=10, ax=ax2)

#---------- finding pdq values stastically: Method-2 fo 3 -------------------------

#### Integrating SQL server to Jupyter Notebook

In [ ]:
# Run simple ms sql query with Python
from sqlalchemy import create_engine         # import the library
import pyodbc
import pandas as pd

Driver= 'SQL Server'                         # connection setup
Server = r'MDINETPROJECTS\Analytics'
Database = 'Claims_SLA'
UID = 'mdianalytics'
PWD= 'mdianalytics@123'
Database_Connection = f'mssql://{UID}:{PWD}@{Server}/{Database}?driver={Driver}'

cnxn = pyodbc.connect(driver='{SQL Server}', host=Server, database=Database,
                     user=UID, password=PWD)          # connection     # to close this connection use : connection.close()

# importing the required columns to create desired dataframe
df = pd.read_sql_query('''select * FROM [Claims_SLA].[dbo].[ML_SUM_LiablityAmt]
where Min_SLA_Heading > '2020-12' and IC_name = 'The New India Assurance Company Limited' and Min_SLA_Heading IN ('2021-04','2021-05','2021-06','2022-04','2022-05','2022-06') ''', cnxn)
cnxn.close()
#==============================================================================
#### if you have python variables from different DataBase to be included in the sql python query then  ####

# suppose you want to extract data from different database in every query
Driver= 'SQL Server'                         # connection setup
Server = r'MDINETPROJECTS\Analytics'
# Database name is removed from here
UID = 'mdianalytics'
PWD= 'mdianalytics@123'
Database_Connection = f'mssql://{UID}:{PWD}@{Server}?driver={Driver}'
cnxn = pyodbc.connect(driver='{SQL Server}', host=Server, user=UID, password=PWD)          # connection     # to close this connection use : connection.close()

DummyPol = '153400/00/24/00/00001114'  # python variables to be included in the python sql query
LivePol = '153400/34/24/04/00000003'   # python variables to be included in the python sql query

# including the variables in the parenthesis, and also mention Databse Name
df = pd.read_sql_query(f'''
select * from Masters.[dbo].Brok_Corp_Lives_Prem_ActivePol where Pol_no = '{DummyPol}'
select * from Masters.[dbo].Brok_Corp_Lives_Prem_ActivePol where Pol_no = '{LivePol}'
''' , cnxn)
cnxn.close()

#========================== If above doesnt work then use following code ==================================
import pandas as pd
import pyodbc

Driver = 'SQL Server'
Server = r'MDINETPROJECTS\Analytics'
UID = 'mdianalytics'
PWD = 'mdianalytics@123'
cnxn = pyodbc.connect(driver='{SQL Server}', server=Server, user=UID, password=PWD)  # Create the connection

PolNo = '010100/00/22/0000000365'  # Define the variable
query = '''  SELECT Pol_No, PolicyStartDate, PolicyEndDate FROM [Claims_SLA].[dbo].CL_CRS_DET2 WITH(NOLOCK) WHERE POL_NO = ? '''
df = pd.read_sql_query(query, cnxn, params=(PolNo,))  # Execute the query with the parameter
cnxn.close()
df

#==========================================================================================================
### Get a variables, access variable from different tables of different databases  (WORKING CODE)
from sqlalchemy import create_engine
import pyodbc
import pandas as pd
#
Driver= 'SQL Server'                         # connection setup
Server = r'MDINETPROJECTS\Analytics'
UID = 'mdianalytics'
PWD= 'mdianalytics@123'
Database_Connection = f'mssql://{UID}:{PWD}@{Server}?driver={Driver}'
cnxn = pyodbc.connect(driver='{SQL Server}', host=Server, user=UID, password=PWD)          # connection     # to close this connection use : connection.close()
#
DummyPol =  # variable
LivePol =   # variable
#
db_table_dict = dict(DB1=['Table1','Table2'], DB2 = ['Table3','Table4'], DB3 = ['Table5','Table6'])    # Database name and its tables list
TableName_ColName = {'Table1':'T1ColName', 'Table2':'T2ColName', 'Table3':'T3ColName', 'Table4':'T4ColName', 'Table5':'T5ColName', 'Table6':'T6ColName'}
 # table names with its col Name into which the variable needed to be checked

for db_name, Tbl_name_list in db_table_dict.items():
    for Tbl_name in Tbl_name_list:                                                                      # find the variable in the column of the table of given database
        sql_query1 = f'''
        select * from [{db_name}].[dbo].{Tbl_name} where {TableName_PolColName[Tbl_name]} = '{DummyPol}'
        '''
        df_dummy = pd.read_sql_query(sql_query1, cnxn)                                                     # function to read the variable from the table
        #----------------
        ql_query2 = f'''
        select * from [{db_name}].[dbo].{Tbl_name} where {TableName_PolColName[Tbl_name]} = '{LivePol}'
        '''
        df_live = pd.read_sql_query(ql_query2, cnxn)

cnxn.close()
#===================================================================================================
### if table is to be saved and not to be returned then use cursor (only internal operation on table)

from sqlalchemy import create_engine
import pyodbc
import pandas as pd

Driver= 'SQL Server'
Server = r'MDINETPROJECTS\Analytics'
UID = 'mdianalytics'
PWD= 'mdianalytics@123'
Database_Connection = f'mssql://{UID}:{PWD}@{Server}?driver={Driver}'
cnxn = pyodbc.connect(driver='{SQL Server}', host=Server, user=UID, password=PWD)

cursor = cnxn.cursor()   # if table is to be saved and not to be returned then use cursor
cursor.execute('''
DROP TABLE IF EXISTS DBName1.dbo.MyTableName_temp
SELECT <col1>, <col2> INTO <DBName1.dbo.MyTableName_temp>  FROM <[DBName].[dbo].[TableName]>
WHERE <conditions>
GROUP BY <col1>, <col2>
''')
cnxn.commit()

df = pd.read_sql_query(''' select * from DBName1.dbo.MyTableName_temp ''', cnxn)  # read the saved table and use it in pandas
cnxn.close()

###################################################################

In [ ]:
# pip install basemap
# conda install -c anaconda basemap

import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap

# Pin code coordinates (example: Mumbai)
pin_code = '400001'
latitude = 18.9387711
longitude = 72.8353355

# Create a basemap object for India
m = Basemap(llcrnrlon=68, llcrnrlat=6, urcrnrlon=98, urcrnrlat=37, resolution='l')

# Draw coastlines, country boundaries, and states
m.drawcoastlines()
m.drawcountries()
m.drawstates()

# Plot the pin code location on the map
x, y = m(longitude, latitude)
m.plot(x, y, 'ro', markersize=8, label=pin_code)

# Add a legend
plt.legend(loc='lower right')

# Show the map
plt.title('Location from Pin Code')
plt.show()

In [ ]:
(lambda x, y: (x + y)(3, 8)
(lambda x: x if x>10 else 'smaller than 10')(11)
(lambda x: (x % 2 and 'odd' or 'even'))(3)

#################################################

def check_conditions(x):
    if x > 10:
        return x * 10
    elif x < 5:
        return x * 5
    else:
        return x

check_conditions(11)
# --------------
(lambda x: x * 10 if x > 10 else (x * 5 if x < 5 else x))(11)

#################################################
def doubling(x):
    res = x * 2
    return res
#---------------------------
a=10
result = doubling(10)
print(result)
# --------------------------
doubling = lambda x : x * 2
result = doubling(20)
result

#################################################
def addition(x,y):
    return x+y

result = addition(10, 20)
result
# -----------------------
addition = lambda x,y : x + y
result = addition(10, 20)
result

#################################################
cube = lambda x : x*x*x
cube(2)

#################################################
def func(a):
    return lambda x : x*a

double = func(2)  # a = 2
double(10)          # x = 10

#################################################
def func(a):
    return lambda x : x*a

double = func(2)
triple = func(3)

print(double(10))
print(triple(10))

#################################################
def doubling(x,y):
    res1 = x * 2
    res2 = y * 2
    return res1, res2
#----------------------
a=10
b=20
result1, result2 = doubling(10,b)
print(result1)
print(result2)

# A lambda function can take any number of arguments, but can only have one expression.
lambda arguments : expression
# therefore above function can not be implimented in lambda

#################################################
str1 = 'hello'
resUpper = lambda x : x.upper()
resUpper(str1)

#################################################
# lambda arguments : expression
maxm = lambda x, y : x if x>y else y
maxm(1,2)

In [ ]:
# Notebook Markdown
1) Horizontal lines : *** or --- or ___
2) bold string : __bold string__ or **bold string**
3) italic string : _italic string_ or *italic string*
4) mathematical symbols : $ mathematical symbols $
5) Monospace font : `Monospace font`
6) Strikethrough : ~~Scratch Me.~~
7) Indentation : > Text that will be indented when the Markdown is rendered.
8) Task list :  - [x] Some task
                - [ ] Some more task
9) Colored text : <span style="color:red">This is the text</span>
                  color = blue|red|green|pink|yellow
10) Font style : <span style="font-family:Comic Sans MS">This is a text</span>
11) Cell Background color : <code style="background:yellow;color:black">CELL BACKGROUND COLOR</code>
12) Highlight particular part of the text : Highlight <mark>this part</mark> of the text.
13) Bullets :
    - Bulleted item   or    - Bulleted item   or * Bulleted item
    - Main bullet point
      - Sub bullet point
14) Blue box :
<div class="alert alert-block alert-info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes.
If it’s a note, you don’t have to include the word “Note”.
</div>

15) Yellow box :
<div class="alert alert-block alert-warning">
<b>Example:</b> Use yellow boxes for warning or other.
</div>

16) Green box :
<div class="alert alert-block alert-success">
<b>Up to you:</b> Use green boxes for success.
</div>

17) Red box :
<div class="alert alert-block alert-danger">
<b>Just don't:</b> In general, avoid the red boxes. These should only be
used for actions that might cause data loss or another major issue.
</div>

In [ ]:
# to train subconMind give affermation in positive way

write problems on papaer tear and burn it.
write good things expected in life on paper.
paramsukh, samadhan, aishwary, ..
- affermation : in present contineus tense, present perfect tense. (one affermation 3 times, record and listen at night) - record the aims
- vision borard : yellow page and red pen.
- say thank you to water

rei=pranUrja
ki=gagruti
Rediscovered by Dr Mecau ki (japan),
5 tattva of rekie
1. bring your life to 24 hrs
2. control on anger
3. aaj ke liye chintaon se dur rahunga
4. aaj zalelya ashrivadachi ganati karavi
5. har jivit prani ke prati me savedanshil rahunga

In [ ]:
https://medium.com/@vipra_singh/llm-architectures-explained-nlp-fundamentals-part-1-de5bf75e553a